[submodule "Carthage/Checkouts/CryptoSwift"]
	path = Carthage/Checkouts/CryptoSwift
	url = https://github.com/krzyzanowskim/CryptoSwift.git
[submodule "Carthage/Checkouts/PromiseKit"]
	path = Carthage/Checkouts/PromiseKit
	url = https://github.com/mxcl/PromiseKit.git
[submodule "Carthage/Checkouts/SwiftyJSON"]
	path = Carthage/Checkouts/SwiftyJSON
	url = https://github.com/SwiftyJSON/SwiftyJSON.git
[submodule "Carthage/Checkouts/Zip"]
	path = Carthage/Checkouts/Zip
	url = https://github.com/marmelroy/Zip.git
[submodule "Carthage/Checkouts/IOS-Pods-DFU-Library"]
	path = Carthage/Checkouts/IOS-Pods-DFU-Library
	url = https://github.com/NordicSemiconductor/IOS-Pods-DFU-Library.git
